html {
  font-size: $baseFontSize;
  height: 100%;
}

body {
  font-family: $fontFamily;
  height: 100%;
  }
.wrapper{
  min-height: 99.9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //max-width: 1440px;
   margin: 0 auto;
  

}
.main {
  //flex: 1 1 auto;
  max-width: 1600px;

}
.container{
  max-width: 1600px;
}
