.main {
  padding: 20px;
  background-color: $white;
}
.news-line {
  // general style for news lines
  margin-bottom: 36px;
  .news-line__title {
    text-transform: capitalize;
    font-family: $fontFamily;
    color: $black;
    font-size: 24px;
    font-weight: $boldFontWeight;
    line-height: 28px;
    margin-bottom: 24px;
  }
  &__link {
    font-weight: $boldFontWeight;
    color: $black;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    text-transform: capitalize;
    &:hover {
      color: $linkHover;
    }
  }
}
/* ---===first line===--- */
.recent-news {
  &__content {
    //max-height: 460px;
    width: 100%;
    display: flex;
    gap: 20px;
    display: flex;
    flex-direction: row;
  }
}
/* ---===second line of news ===--- */
.more-news {
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 16px;
  }
}
/* ---===third line of news ===--- */
.category-news {
  margin: 0;
  &__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    //grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;

    &_left-col {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 24px;
      grid-row-gap: 24px;
    }
    &_right-col {
      display: flex;
      flex-direction: column;
    }
  }
}
//.category-box{}
.trending-box {
  width: auto;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__list > a {
    text-decoration: none;
    color: #25213b;
    line-height: 25px;
    font-weight: $mediumFontWeight;
    letter-spacing: 5%;
    font-size: $baseFontSize;
    &:hover {
      color: $linkHover;
    }
  }
  &__list > a > li {
    border-bottom: 1px solid #898989;
    padding-bottom: 12px;
  }
}
