//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Ubuntu:400,500';
$roboto-font: 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap';
$title-font: 'https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap';


$baseFontSize: 16px;
$fontFamily: 'Roboto', sans-serif;
$fontTitle: 'Old Standard TT', serif;
$lightFontWeight: 300;
$regularFontWeight: 400;
$mediumFontWeight: 500;
$boldFontWeight: 700;



// Paths

$imagesPath: "../i/";
$fontsPath: "../fonts/";
$usersFilesPath: "../userfiles/";


 // Colors
$black: #000000;
$white: #ffffff;
$linkHover: #EE7623;
